

html,
body {
  height: 100%;
  margin: 0;
  background-color:  #343a40;
}

.login-ctn {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

.search-ctn { 
display: flex;
max-width: 500px;
margin: 0 auto;
/* margin-top: 50px; */
}

.table-ctn {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}